In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge
from scipy.sparse import hstack

In [8]:
data_train = pd.read_csv(r'F:\Reps\ML Voron\salary-train.csv')
data_test = pd.read_csv(r'F:\Reps\ML Voron\salary-test-mini.csv')

In [9]:
data = pd.concat([data_train, data_test], ignore_index=True)

In [10]:
data.tail()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500.0
59998,This is one of the best agency side opportunit...,The City,permanent,65000.0
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040.0
60000,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
60001,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [11]:
data.FullDescription = data.FullDescription.str.lower()
data.FullDescription = data.FullDescription.replace('[^a-zA-Z0-9]', ' ', regex = True)
tfvec = TfidfVectorizer(min_df=5)
Full_Description = tfvec.fit_transform(data.FullDescription)
data.LocationNormalized.fillna('nan', inplace=True)
data.ContractTime.fillna('nan', inplace=True)
enc = DictVectorizer()
LNCT = enc.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [31]:
X = hstack([LNCT[:-2], Full_Description[:-2]])
X_test = hstack([LNCT[-2:], Full_Description[-2:]])
y = data_train.SalaryNormalized
y = y.ravel()

In [32]:
clf = Ridge(alpha=1, random_state=241)
clf.fit(X,y)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

In [33]:
clf.predict(X_test)

array([ 56557.09164411,  37188.78663497])