In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
0     178 non-null int64
1     178 non-null float64
2     178 non-null float64
3     178 non-null float64
4     178 non-null float64
5     178 non-null int64
6     178 non-null float64
7     178 non-null float64
8     178 non-null float64
9     178 non-null float64
10    178 non-null float64
11    178 non-null float64
12    178 non-null float64
13    178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [33]:
from sklearn.model_selection import KFold

In [16]:
gen = KFold(n_splits=5, shuffle=True, random_state=42)

In [86]:
X = data.iloc[:, 1:]
Y = data.iloc[:, 0]
Y = Y.ravel()
print(Y)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3]

In [31]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [69]:
acc_vals = []
for k in range(1, 51):
    knn = KNeighborsClassifier(n_neighbors=k)
    acc = cross_val_score(knn, X, Y, cv = gen)
    acc_vals.append(np.mean(acc))
print(acc_vals)

[0.7304761904761905, 0.66253968253968254, 0.70825396825396825, 0.65777777777777779, 0.67460317460317465, 0.67428571428571438, 0.68000000000000005, 0.67999999999999994, 0.70238095238095233, 0.68015873015873018, 0.70253968253968258, 0.69666666666666666, 0.69095238095238087, 0.67936507936507939, 0.70190476190476203, 0.67952380952380964, 0.70158730158730154, 0.67952380952380953, 0.67936507936507928, 0.69095238095238087, 0.70190476190476192, 0.69650793650793641, 0.70206349206349206, 0.70761904761904759, 0.70190476190476192, 0.69650793650793652, 0.69634920634920638, 0.70793650793650786, 0.7134920634920634, 0.70793650793650786, 0.69095238095238098, 0.7134920634920634, 0.7134920634920634, 0.72460317460317469, 0.72460317460317469, 0.71349206349206362, 0.7134920634920634, 0.7134920634920634, 0.70793650793650786, 0.70777777777777773, 0.7134920634920634, 0.70777777777777773, 0.70777777777777773, 0.70777777777777773, 0.70777777777777773, 0.70777777777777773, 0.69666666666666666, 0.71904761904761916, 0.69666666666666666, 0.70777777777777773]

In [78]:
acc_vals_pd = pd.Series(acc_vals, index=range(1, 51))
print(acc_vals_pd.idxmax(), acc_vals_pd.max())

1 0.730476190476

In [79]:
from sklearn.preprocessing import scale

In [84]:
X = scale(X)
X

array([[ 1.519, -0.562,  0.232, ...,  0.362,  1.848,  1.013],
       [ 0.246, -0.499, -0.828, ...,  0.406,  1.113,  0.965],
       [ 0.197,  0.021,  1.109, ...,  0.318,  0.789,  1.395],
       ...,
       [ 0.333,  1.745, -0.389, ..., -1.612, -1.485,  0.281],
       [ 0.209,  0.228,  0.013, ..., -1.568, -1.401,  0.296],
       [ 1.395,  1.583,  1.365, ..., -1.524, -1.429, -0.595]])

In [85]:
acc_vals = []
for k in range(1, 51):
    knn = KNeighborsClassifier(n_neighbors=k)
    acc = cross_val_score(knn, X, Y, cv = gen)
    acc_vals.append(np.mean(acc))
acc_vals_pd = pd.Series(acc_vals, index=range(1, 51))
print(acc_vals_pd.idxmax(), acc_vals_pd.max())

29 0.977619047619